/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'KoHo', 'Mansalva', 'Noto Sans', '微軟正黑體', 'Noto Sans TC', '標楷體', '新細明體', 'consolas';
  overflow: hidden;
}

.shrinkElement img {
  display: block;
  object-fit: contain;
  max-height: 50vh;
  width: auto;
  max-width: 100%;
  height: auto;
  margin: auto;
}

#Loading {
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 2000;
  position: absolute;
  margin: auto;
  left: auto;
  right: auto;
}

#CoverContainer {
  width: 100%;
  border: none;
  box-shadow: none;
}

#JabuMarryImg {
  width: 100%;
  max-height: 90vh;
  object-fit: contain;
  margin: auto;
  display: block;
}

.spinner-border {
  width: 10rem;
  height: 10rem;
  top: 50%;
  margin: auto;
}

#TextMarry {
  text-align: center;
}

.eventHeader {
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.eventsContainer {
  padding: 10px 40px 40px 40px;
}

.eventsContainer > .row {
  text-align: left;
}

.shrinkElement {
  border: solid black;
  border-color: black;
  border-width: 3px 4px 3px 5px;
  box-shadow: 6px 7px 10px 0px rgb(2 2 2);
  border-top-left-radius: 2% 97%;
  border-top-right-radius: 4% 95%;
  border-bottom-right-radius: 92% 6%;
  border-bottom-left-radius: 2% 97%;
}

.ourStory .shrinkElement {
  border-color: rgb(100 0 100);
  box-shadow: 6px 7px 10px 0px rgb(100 0 100);;
}

.ourStory .eventHeader {
  color: rgb(100 0 100);
  border-bottom-color: rgb(100 0 100);
}

.funFacts .shrinkElement {
  border-color: rgb(183 63 63);
  box-shadow: 6px 7px 10px 0px rgb(183 63 63);
}

.funFacts .eventHeader {
  color: rgb(183 63 63);
  border-bottom-color: rgb(183 63 63);
}

.eventsContainer > .row div.eventHeader {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
}

.invisible-block {
  display: block;
  opacity: 0;
}

.detailHeader {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.shrinkElement.container {
  left: 0;
  right: 0;
}
