/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Mansalva', 'Noto Sans', '微軟正黑體', 'Noto Sans TC' , '標楷體', '新細明體', 'consolas';
}

#ImgContainer {
  width: 100%;
}

#JabuMarryImg {
  animation-fill-mode: forwards;
  width: 90%;
  max-height: 100vh;
  object-fit: cover;
  margin:  auto;
  display: block;
}

#TextMarry {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 100%;
}

.eventsContainer > .row {
  text-align: left;
}

 .shrinkElement {
    border: solid black;
  border-color: black;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  /*transform: rotate(2deg);*/
}

.eventsContainer > .row div.eventHeader {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
}

#TextMarry{
  font-size: 3vw;
}

.invisible-block {
  display: block;
  opacity: 0;
}

.detailHeader {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.shrinkElement.container {
  left: 0;
  right: 0;
}

.animation_fadein {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-name: fadein;
}

/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}
